.Sidebar {
    height: calc(100vh - var(--navbar-height)); // здесь если вместо 50рх ставить
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.2s;
}

.switchers {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collapsedBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.items {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}
