.Sidebar {
    height: calc(100vh - var(--navbar-height)); // здесь если вместо 50рх ставить
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.2s;
}

.switchers {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collapsedBtn {
    position: absolute;
    right: 0;
    top: 0;
}

.items {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}
