.app.dark {
  --bg-color: black;
  --inverted-bg-color: rgb(221, 221, 221);
  
  --primary-color: greenyellow;
  --secondary-color: white;
  --inverted-primary-color: purple;
  --inverted-secondary-color: rgb(47, 99, 98);
}