.app.dark {
    --bg-color: rgb(45 42 42);
    --inverted-bg-color: rgb(221 221 221);
    --primary-color: greenyellow;
    --secondary-color: white;
    --inverted-primary-color: purple;
    --inverted-secondary-color: rgb(47 99 98);
}
