.app.dark {
    --bg-color: rgb(45 42 42);
    --inverted-bg-color: rgb(99 97 97);
    --primary-color: greenyellow;
    --secondary-color: rgb(106 162 20);
    --inverted-primary-color: purple;
    --inverted-secondary-color: rgb(47 99 98);
}
