.app_green_theme {
    --bg-color: #f4fbf5;
    --inverted-bg-color: #256e2e;
    --primary-color: #34501b;
    --secondary-color: #34501b;
    --inverted-primary-color: #f4fbf5;
    --inverted-secondary-color: #34501b;

    // skeleton
    --skeleton-color: #31963d;
    --skeleton-shadow: #34501b;

    // code
    --code-bg: #c4ecca;
}
