.app.light {
  --bg-color: rgb(221, 221, 221);
  --inverted-bg-color:  rgb(47, 99, 98);
  
  --primary-color: purple;
  --secondary-color: rgb(118, 255, 253);
  --inverted-primary-color: greenyellow;
  --inverted-secondary-color: white;
}